<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{index :: head}"></head>
<body>
<div th:insert="~{index :: menu}"></div>

<div class="container mt-5">
    <h2 th:text="${disciplina.id} == null ? 'Cadastrar Disciplina' : 'Editar Disciplina'"></h2>

    <div th:if="${message}" class="alert alert-danger" th:text="${message}"></div>

    <form th:action="@{/disciplina}" th:object="${disciplina}" method="post">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome da Disciplina</label>
            <input type="text" class="form-control" id="nome" placeholder="Digite o nome" th:field="*{nome}" required/>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/disciplina/listar" class="btn btn-secondary">Voltar</a>
    </form>
</div>

<div th:insert="~{index :: script}"></div>
</body>
</html>
