<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head}"></head>
<body>

<div th:replace="~{fragments/layout :: menu}"></div>

<div class="container mt-5">
    <h2 class="mb-4">Bem-vindo ao AutoGabarito!</h2>
    <p>Você está logado como: <strong th:text="${#authentication.name}">Usuário</strong></p>

    <div
            th:switch="${#authorization.expression('hasRole(''ADMIN'')') ? 'ADMIN' : (#authorization.expression('hasRole(''PROFESSOR'')') ? 'PROFESSOR' : 'ALUNO')}"
    >
        <div th:case="'ADMIN'">
            <h4>Área do Administrador</h4>
            <ul class="list-group mb-4">
                <li class="list-group-item"><a th:href="@{/admin/aluno/listar}">Gerenciar Alunos</a></li>
                <li class="list-group-item"><a th:href="@{/admin/turmas/listar}">Gerenciar Turmas</a></li>
                <li class="list-group-item"><a th:href="@{/admin/disciplina/listar}">Gerenciar Disciplinas</a></li>
            </ul>
        </div>

        <div th:case="'PROFESSOR'">
            <h4>Área do Professor</h4>
            <ul class="list-group mb-4">
                <li class="list-group-item"><a th:href="@{/professor/provas}">Criar Provas</a></li>
                <li class="list-group-item"><a th:href="@{/professor/resultados}">Visualizar Resultados</a></li>
                <li class="list-group-item"><a th:href="@{/professor/estatisticas}">Ver Estatísticas</a></li>
            </ul>
        </div>

        <div th:case="'ALUNO'">
            <h4>Área do Aluno</h4>
            <ul class="list-group mb-4">
                <li class="list-group-item"><a th:href="@{/aluno/notas}">Ver Notas</a></li>
                <li class="list-group-item"><a th:href="@{/aluno/feedbacks}">Ver Feedbacks</a></li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="~{fragments/layout :: script}"></div>
</body>
</html>
