<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{index :: head}">
    <title>Listar Respostas</title>
</head>
<body>
<div class="container">
    <div th:insert="~{index :: menu}"></div>
    <br/>
    <a th:href="@{/respostas}" class="btn btn-primary mb-3">Nova Resposta</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Aluno</th>
            <th>Prova</th>
            <th>Nota</th>
            <th>Acertos</th>
            <th>Erros</th>
            <th>Data Envio</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="resposta : ${respostas}">
            <td th:text="${resposta.id}">0</td>
            <td th:text="${resposta.aluno.nome}">Nome</td>
            <td th:text="${resposta.prova.titulo}">Título</td>
            <td th:text="${resposta.nota}">0.0</td>
            <td th:text="${resposta.acertos}">0</td>
            <td th:text="${resposta.erros}">0</td>
            <td th:text="${#temporals.format(resposta.dataEnvio, 'dd/MM/yyyy HH:mm')}">Data</td>
            <td>
                <a th:href="@{'/respostas/editar/' + ${resposta.id}}" class="btn btn-outline-dark" title="Editar">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a th:href="@{'/respostas/remover/' + ${resposta.id}}" class="btn btn-outline-dark" title="Remover">
                    <i class="bi bi-dash-square"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:insert="~{index :: script}"></div>
</body>
</html>
